$color-orange: #F46612;
$color-dark: #0A071C;
$color-white: #FFFFFF;
$color-grey: #626262;
$color-soft-grey: #E0E0E0;
$color-soft-orange: rgba(244, 102, 18, 0.05);

$radius-small: 5px;
$radius-medium: 10px;
$radius-large: 20px;

$font-size-h1: 64px;
$font-size-h2: 42px;
$font-size-h3: 36px;
$font-size-h4: 24px;
$font-size-h5: 18px;

$font-size-p: 16px;
$font-size-p-small: 14px;